<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <div class="container">
        <a class="navbar-brand" href="/">Eight Ball</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav ml-auto">
                {{#if authenticated}}
                <a class="nav-item nav-link" href="/play/">Play</a>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="dropdown" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">{{user.username}}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown">
                        <a class="dropdown-item" href="/profile/">{{user.username}}<small class="text-muted">#{{user.id}}</small><br><mark>{{user.rating}}</mark></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/profile/">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout/">Logout</a>
                    </div>
                </div>
                {{else}}
                <a class="nav-item nav-link" href="/login/">Login</a>
                <a class="nav-item nav-link" href="/register/">Register</a>
                {{/if}}
            </div>
        </div>
    </div>
</nav>