<!DOCTYPE html>
<html lang="en">

<head>

    {{> meta}}

    <title>Leaderboard | Eight Ball</title>

    {{> css}}

</head>

<body>

    {{> navbar active_leaderboard=true}}

    <div class="container">

        <div class="row justify-content-end mb-3">
            <div class="col-xl-4 col-lg-5 col-md-6">
                {{> search}}
            </div>
        </div>

        {{> flash}}

        <div class="jumbotron">
            <h1 class="display-1 text-truncate mw-100">Leaderboard</h1>
        </div>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Name</th>
                    <th scope="col">Wins</th>
                    <th scope="col">Losses</th>
                    <th scope="col">Games Played</th>
                    <th scope="col">Win Rate</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr class="{{#if this.self}}table-active{{/if}}" onclick="window.location='/profile/{{this.id}}'" style="cursor:pointer">
                    <th scope="row">{{this.position}}</th>
                    <td>{{this.id}}</td>
                    <td>{{this.username}}</td>
                    <td>{{this.firstname}} {{this.lastname}}</td>
                    <td>{{this.wins}}</td>
                    <td>{{this.losses}}</td>
                    <td>{{this.gamesPlayed}}</td>
                    <td>{{this.winRate}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>

    {{> js}}

</body>

</html>